<ion-view>
    <ion-content>
        <!--        <img src="img/ionic.png" alt="Funder" class="padding center">-->
        <ion-spinner icon="lines" class="spinner-positive"></ion-spinner>
        <h4 class="padding text-center dark">Investor Login</h4>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
            <!-- This is the button and ng-click is the function from our LoginCtrl in the loginController.js file-->
            <button ng-click="loginInvestor()" class="button button-full button-balanced">
                Login
            </button>
            <button ng-click="signupInvestor()" class="button button-full button-calm">
                Create an account
            </button>
        </div>
    </ion-content>
</ion-view>