<ion-view>
    <ion-content>
        <img src="/img/ionic.png" alt="Funder" class="padding center">
        <h4 class="padding text-center dark">Enterprise login</h4>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">CVR</span>
                <input type="number" placeholder="CVR">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
            <!-- This is the button and ng-click is the function from our LoginCtrl in the loginController.js file-->
            <button class="button button-full button-balanced">
                Login
            </button>
            <button class="button button-full button-calm">
                Create an account
            </button>
        </div>
    </ion-content>
</ion-view>