<ion-view>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">CVR</span>
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
            <!-- This is the button and ng-click is the function from our LoginCtrl in the loginController.js file-->
            <button class="button button-full button-dark">
                Login
            </button>
        </div>
    </ion-content>
</ion-view>