<ion-view>
  <ion-side-menus>
    <!-- Left menu -->
    <ion-side-menu side="left">
      <!-- Menu List-->
      <div class="list">
        <!-- List header (General)-->
        <div class="item item-divider">General</div>
        <!-- Clickable content of general list-->
        <a class="item" href="#">Profile</a>
        <a class="item" href="#">Settings</a>
        <!-- List header (Categories)-->
        <div class="item item-divider">Categories</div>
        <!-- Clickable content of category list-->
        <a class="item item-icon-right" href="#">
          <i class="icon ion-pizza"></i>Food<span class="item-note">Restaurant, Café...</span>
        </a>
        <a class="item item-icon-right" href="#">
          <i class="icon ion-monitor"></i>IT<span class="item-note">Web, Programming...</span>
        </a>
        <a class="item item-icon-right" href="#">
          <i class="icon ion-chatbubbles"></i>Communication<span class="item-note">Tele...</span>
        </a>
        <a class="item item-icon-right" href="#">
          <i class="icon ion-cash"></i>Finance<span class="item-note">Bank, Investment...</span>
        </a>
        <a class="item item-icon-right" href="#">
          <i class="icon ion-steam"></i>Construction<span class="item-note">Entreprenuerial...</span>
        </a>
      </div>
    </ion-side-menu>

    <ion-side-menu-content scroll="true">
      <!-- Navigation header with menu and search-->
      <ion-header-bar class="bar-stable">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <div class="title"></div>


        <!-- Search-->
        <!--
    <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="query">
    </label>
-->
      </ion-header-bar>
      <!-- Main content, usually <ion-nav-view> -->
      <ion-content>

        <!-- search function-->

        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
          </label>
          <button class="button button-clear">
            Cancel
          </button>
        </div>


        <div class="list card">

          <div class="item item-avatar">
            <img src="/Akan.jpg">

            <h2>Akan Gülsen</h2>

            <p>March 01, 1994</p>

            <p>Premium Investor</p>
          </div>

          <div class="item item-body">
            <p>
              "How many millionaires do you know who have become wealthy by investing in savings accounts? I rest my case." - Robert G. Allen
            </p>

            <p>
              <a href="#" class="subdued">Numbers of investments: 16</a>
              </br>
              <a href="#" class="subdued">Category: Mobile applications, Technology.</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Contact
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>



          <div class="item item-avatar">
            <img src="/Akan.jpg">

            <h2>Kasper Tidemann</h2>

            <p>Not born yet</p>

            <p>Robotcup investor</p>
          </div>

          <div class="item item-body">
            <p>
              "It takes two to tango, but only one for a selfie" - Akan Gülsen
            </p>

            <p>
              <a href="#" class="subdued">Numbers of investments: 15</a>
              </br>
              <a href="#" class="subdued">Category: Mobile applications, Technology, medical </a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Contact
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>

        </div>


        <div class="item item-avatar">
          <img src="/Akan.jpg">

          <h2>Samuel Jackson</h2>

          <p>Not born yet</p>

          <p>Robotcup investor</p>
        </div>

        <div class="item item-body">
          <p>
            "I've never been to jail. I've never been arrested. I've never been locked up." - Samuel Jackson
          </p>

          <p>
            <a href="#" class="subdued">Numbers of investments: 1</a>
            </br>
            <a href="#" class="subdued">Category: Food, Movie Business </a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Contact
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>

        </div>



      </ion-content>
    </ion-side-menu-content>

  </ion-side-menus>
</ion-view>
