<ion-view>
    <ion-content>
        <h4 class="padding text-center dark ion-person">   New Investor</h4>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" ng-model="InvestorName" placeholder="Akan">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" ng-model="InvestorLastName" placeholder="Gülsen">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="email" ng-model="email" placeholder="AkanGulsen@Funder.com">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" ng-model="password" placeholder="********">
            </label>
        </div>
        <button ng-click="createUser()" class="button button-block button-positive">
            Create Account
        </button>
    </ion-content>
</ion-view>