<ion-view>
    <ion-content>
        <ion-spinner icon="lines" class="spinner-positive"></ion-spinner>
<!--        <img src="img/ionic.png" alt="Funder" class="padding center"> -->
        <h4 class="padding text-center dark">Choose your login</h4>
        <button ng-click="welcomeEnterprise()" class="padding button icon-left ion-briefcase button-block button-calm">
            Enterprise</button>
        <button ng-click="welcomeInvestor()" class="padding button icon-left ion-person button-block button-balanced">
            Investor</button>
    </ion-content>
</ion-view>