<ion-view xmlns="http://www.w3.org/1999/html">
  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">123 Opstart A/S</h1>
  </ion-header-bar>

  <ion-content>


    <div class="card" ng-controller="mainInvCtrl">
      <div class="item item-text-wrap bar-stable">
        <h1> Indsæt billede</h1>

        <h4>Beskrivelse</h4>

        <div class="item item-text-wrap bar-stable">
          <p>Imagine a tool that enabled the business owner or marketing consultant to manage their entire marketing efforts in one location, this is exactly what 123 Opstart is developing. This new tool will include a wide range of videos, podcasts, work flows, checklists and learning methodologies to allow either a business owner, marketing director or consultant to run their entire marketing effort from the one portal. It will include dashboards, planning tools, people management, marketing plans, case studies, reporting templates, and marketing training. Already there are 5 major organisations wanting this tool in their business, and Hunter has identified key people to deliver IT, architecture and high end production qualities for the contents.</p>
        </div>

        <h4>Funding</h4>

        <div class="item item-text-wrap bar-stable">
          <p>100.000 DKK for 50%</p>
        </div>

        <h4>Team</h4>

        <div class="item item-text-wrap bar-stable">
          <p>Mads C.R. Vive & Omar El-khatib</p>
        </div>


        <h4>Regnskaber</h4>

        <div class="item item-text-wrap bar-stable">
          <p>Ingen regnskaber uploaded</p>
        </div>

        <h4>Webside</h4>

        <div class="item item-text-wrap bar-stable">
          <p>Ingen webside.</p>
        </div>

      </div>
    </div>
    </div>

  </ion-content>

  <div class="bar bar-footer bar-balanced">

    <div class="title">Contact</div>

  </div>

</ion-view>


