<ion-view xmlns="http://www.w3.org/1999/html">
  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">Taxa fyn A/S</h1>
  </ion-header-bar>

  <ion-content>


    <div class="card" ng-controller="mainInvCtrl">
      <div class="item item-text-wrap bar-stable">
        <h1> Indsæt billede</h1>

        <h4>Beskrivelse</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>Drive is a full-stack e-commerce platform for new car buyers and dealers, with backing from the top franchised dealerships across California. For new car buyers, Drive is the first and only technology platform that lets you complete the entire process online, with over 10,000 new cars in stock, direct online financing, leasing, and trade-ins, plus *free* delivery to your home or office. For franchised new car dealerships, Drive is a full-stack e-commerce solution that turbocharges the entire business: retail, F&I, trade-in, and service.</h6>
        </div>

        <h4>Funding</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>200.000 DKK for 20%</h6>
        </div>

        <h4>Team</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>Kristian Madsen & Abu Khara</h6>
        </div>


        <h4>Regnskaber</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>Ingen regnskaber uploaded</h6>
        </div>

        <h4>Webside</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>Ingen webside.</h6>
        </div>

      </div>
    </div>
    </div>

  </ion-content>

  <div class="bar bar-footer bar-balanced">

    <div class="title">Ping!</div>

  </div>

</ion-view>


