<ion-view xmlns="http://www.w3.org/1999/html">
  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">Akan Gülsen</h1>
  </ion-header-bar>

  <ion-content>


    <div class="card">
      <div class="item item-text-wrap bar-stable">
        <img scr="img/akan.jpg">

        <h4>Om mig</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>Mit navn er Akan Gülsen, 21, og til dagligt studerer jeg på Copenhagen Business School. HA. Informationsteknologi og Erhvervsøkonomi er uddannelsen, jeg specifikt håndterer i disse dage og er lige startet på 5. Semester. Før CBS har jeg studeret på Niels Brocks (HHX), hvor jeg dimitterede i 2013. Ved siden af studiet arbejder jeg hos Nordea som IT supporter.
          </h6>
        </div>

        <h4>Tidligere projekter</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>MitForbrug</h6>
        </div>


        <h4>Interesser</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>Mobil applikationer, hjemmesider, teknologi, IT.</h6>
        </div>

        <h4>Kontakt</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>akangulsen@hotmail.com</h6>
        </div>

      </div>
    </div>
    </div>

  </ion-content>

  <div class="bar bar-footer bar-balanced">

    <div class="title">Ping!</div>

  </div>

</ion-view>


