<ion-view xmlns="http://www.w3.org/1999/html">
  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">Kasper Tidemann</h1>
  </ion-header-bar>

  <ion-content>


    <div class="card" ng-controller="mainInvCtrl">
      <div class="item item-text-wrap bar-stable">
        <h1> Indsæt billede</h1>

        <h4>Om mig</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>Mit navn er Kasper Tidemann og til dagligt arbejder jeg som ekstern lektor på Copenhagen Business School. Derudover er jeg selvstændig erhvervsdrivende, Tidemann&Co er navnet på virksomheden. Jeg har tidligere færdiggjjort en bachelor i IT på CBS.
          </h6>
        </div>

        <h4>Tidligere projekter</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>Alefarm Brewing, Relevate PIM, SkyadsMedia ApS, Billy's Billing US, Patchwork Innovation, FAIR & SQUAR.E</h6>
        </div>


        <h4>Interesser</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>Software udvikling, mobil applikationer, hjemmesider, teknologi, IT.</h6>
        </div>

        <h4>Kontakt</h4>

        <div class="item item-text-wrap bar-stable">
          <h6>tidemann@gmail.com</h6>
        </div>

      </div>
    </div>
    </div>

  </ion-content>

  <div class="bar bar-footer bar-balanced">

    <div class="title">Ping!</div>

  </div>

</ion-view>


